<html>
<head>
<link href="[:PATH:]/templates/forest/style.css" rel="stylesheet" type="text/css">
<title>[:@pageTitle:]</title>
<body>
<div id="container">
    <div id="header">
        <h1>Your SiteName Here</h1>
    </div>
    <div id="tabsC">
      <ul>
        <li>[:linkTo("<span>View Profile</span>", "testcase", "foo", "uno");:]</li>
        <li><a href="#" title="Link 2"><span>Link 2</span></a></li>
        <li><a href="#" title="Link 3"><span>Link 3</span></a></li>
        <li><a href="#" title="Longer Link Text"><span>Longer Link Text</span></a></li>
        <li><a href="#" title="Link 5"><span>Link 5</span></a></li>
        <li><a href="#" title="Link 6"><span>Link 6</span></a></li>
        <li><a href="#" title="Link 7"><span>Link 7</span></a></li>
      </ul>
    </div>
    <div id="content">
